.single-hrlr_online {
  background-color: $color-background-hrlr-online;

  .nav-links {
    @include hrlr-online-headline-large
  }
}

.single-hrlr {
  background-color: $color-background-hrlr;

  .nav-links {
    @include hrlr-headline-large
  }
}


.post-navigation {
    grid-column: 1 / span 4;
    div {
      border-top: 1px solid $color-text;
    }

    display: none;
}


.single-hrlr, .single-hrlr_online {
  .abstract-only {
    .post-entry-content::before {
      @include secondary-text;
      content: "Abstract";
      display: block;
      border-top: 1px solid $color-text;
      grid-column: 1 / span 4;
    }

    .seccondary-download-button {
      grid-column: 1 / span 4;
    }
  }


  .entry-title {
    grid-column-start: 1;
    grid-column-end: span 4;
    margin-top: 50px;
    margin-bottom: 5px;
  }

  .entry-meta {
    grid-column: 1 / span 4;
  }

  .hrlr-issue-number, .hrlr-online-issue {
    grid-column: 1 / span 4;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .hrlr-online-date {
    margin-left: 20px;
  }

  .post-entry-content {

    .author-bio {
      @include secondary-text;
      grid-column: 1 / span 4;
    }

    > * {
      grid-column: 1 / span 4;
        @include text;
    }


    h1, h2, h3, h4, h5, h6 {
      font-family: $hrlr-online-font;
      font-weight: 400 !important;
    }

    p + h1 {
      margin-top: 2em;
    }

    h1 {
      @include hrlr-online-headline-small;
      border-top: 1px solid $color-text;
      grid-column: 1 / span 4;
    }

    h2, h3, h4, h5, h6 {
      font-weight: 400 !important;
    }



    sup {
      font-size: 100%;
      top: 0;
    }
    sup > a {
      display: inline-block;
      padding: 12px 4px;
      background-color: $color-background;
      border-radius: 8px;

    }

    ol:last-of-type {
      @include secondary-text;
      background-color: $color-background;
      border-radius: $border-radius;
      padding: 30px 30px 30px 60px;

      //some hyperlinks are too long to fit the citations block and cause overflow. This prevents that.
      overflow: hidden;

      &::before {
        content: "Citations";
        margin-left: -30px;
        @include hrlr-online-headline-small;
      }
    }
  }

  .download-button {
    grid-column: 1 / span 4;
    padding: 20px 20px;

    margin-top: 30px;
    margin-bottom: 50px;
  }

  .secondary-download-button {
    @include secondary-text;
  }
}

@media screen and (min-width: $breakpoint-width-mobile) {

  .post-navigation {
      grid-column: 2 / span 22;
  }


  .single-hrlr, .single-hrlr_online {

    .entry-title {
      grid-column-start: 2;
      grid-column-end: span 22;
      margin-top: 100px;
      margin-bottom: 30px;
    }

    .entry-meta {
      grid-column: 2 / span 22;
    }

    .hrlr-issue-number, .hrlr-online-issue {
      grid-column: 2 / span 10;

      margin-top: 30px;
      margin-bottom: 50px;
    }

    .hrlr-online-date {
      margin-left: 30px;
    }

    .post-entry-content {
      .author-bio {
        grid-column: 17 / span 7;
        height: 0px;
        margin: 0px;
        position: relative;
        top: 120px;
      }

      > * {
        grid-column: 4 / span 10;
      }


      h1 {
        grid-column: 2 / span 22;
        padding: 20px 0;
      }

      ol:last-of-type {
        grid-column: 2 / span 22;
      }
    }

    .download-button {
      grid-column: 17 / span 7;
    }

    .abstract-only {
      .post-entry-content::before {
        @include secondary-text;
        content: "Abstract";
        display: block;
        border-top: 1px solid $color-text;
        grid-column: 2 / span 22;
        padding-top: 30px;
        margin-bottom: -16px;
        height: 0;
      }

      .secondary-download-button {
        grid-column: 4 / span 10;

      }

      .author-bio {
        top: 0px;
      }
    }
  }
}
