.single-hrlr_online {
  background-color: $color-background-hrlr-online;

  .nav-links {
    @include hrlr-online-headline-large
  }
}

.single-hrlr {
  background-color: $color-background-hrlr;

  .nav-links {
    @include hrlr-headline-large
  }
}


.post-navigation {
    grid-column: 2 / span 22;
    div {
      border-top: 1px solid $color-text;
    }
}


.single-hrlr, .single-hrlr_online {
  .entry-title {
    grid-column-start: 2;
    grid-column-end: span 22;
  }

  .entry-meta {
    grid-column: 2 / span 22;
  }

  .hrlr-issue-number, .hrlr-online-issue {
    grid-column: 2 / span 4;
  }

  .hrlr-online-date {
    grid-column: 6 / span 4;
  }

  .post-entry-content {
    .author-bio {
        grid-column: 17 / span 7;
    }

    > * {
      grid-column: 4 / span 10;
        @include text;
    }


    h1, h2, h3, h4, h5, h6 {
      font-family: $hrlr-online-font;
      font-weight: 400 !important;
    }

    h1 {
      @include hrlr-online-headline-small;
      border-top: 1px solid $color-text;
      grid-column: 2 / span 22;
    }

    h2, h3, h4, h5, h6 {
      font-weight: 400 !important;
    }



    sup {
      font-size: 100%;
      top: 0;
    }
    sup > a {
      display: inline-block;
      padding: 12px 4px;
      background-color: $color-background;
      border-radius: 8px;

    }

    ol:last-of-type {
      background-color: $color-background;
      border-radius: $border-radius;

      &::before {
        content: "Citations";
        @include hrlr-online-headline-small;
      }
    }
  }

  .download-button {
    grid-column: 17 / span 7;
  }
}
