

.home {
  background-color: $color-background-hrlr;
}

.hrlr-online-posts-container {
  background-color: $color-background-hrlr-online;
  margin: auto (-1 * $grid-mobile-gap);
  padding: 0 (1 * $grid-mobile-gap);
}

.home .hrlr-posts-container, .home .hrlr-online-posts-container {
    grid-column-start: 1;
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: $grid-mobile;
    grid-column-gap: $grid-mobile-gap;

    h2 {
      border-bottom: 1px solid $color-text;
      grid-column: 1 / span 4;
      margin-bottom: 0px;
      padding-bottom: 5px;
    }

    .homepage-entry-content {
      grid-column: 1 / span 4;
      border-bottom: 1px solid $color-text;
      padding: 11px 0px 25px 0px;

      h4 {
        margin-bottom: 8px;
      }
    }

    h3 {
      grid-column: 1 / span 4;
      border-bottom: 1px solid $color-text;
      position: relative;
      padding: 15px 25px 10px 25px;
    }

    .hrlr-post-title {
      margin-top: 90px;
    }

    .hrlr-post-title::before {
      content: ".";
      display: inline-block;
      width: 17px;
      height: 1em;
      background-color: $color-text;
    }

    .hrlr-post-volume-number {
      position: absolute;
      right: 25px;
    }

    .hrlr-post-year {
      display: none;
    }

    .button {
      grid-column: 1 / span 4;
      margin: 40px 0px;
    }

    .online-posts-header-volume {
      margin-top: 40px;

    }
}


@media screen and (min-width: $breakpoint-width-mobile) {

  .hrlr-online-posts-container {
    margin: 0;
    padding: 0;
  }

  .home .hrlr-posts-container, .home .hrlr-online-posts-container {
      grid-column-start: 1;
      grid-column-end: span 18;
      grid-template-columns: repeat(18, 1fr);
      grid-column-gap: 15px;

      h2 {
        border-bottom: 1px solid $color-text;
        grid-column: 2 / span 16;
        position: relative;
        padding-bottom: 10px;
      }

      .hrlr-post-title {
        margin-top: 130px
      }

      .homepage-entry-content {
        grid-column: 8 / span 10;
        border-bottom: 1px solid $color-text;
        padding: 20px 0 35px 0;
      }

      h3 {
        border: none;
        grid-column: 2 / span 6;
        padding: 20px 0 0 0;
      }

      .hrlr-post-title::before {
        content: ".";
        display: inline-block;
        width: 27px;
        height: 1em;
        background-color: $color-text;
      }

      .hrlr-post-volume-number {
        display: none;
      }

      .hrlr-post-year {
        display: inline;
        position: absolute;
        right: 0;
      }

      .button {
        grid-column: 8 / span 10;
      }
  }
}
