

.home {
  background-color: $color-background-hrlr;
}

.hrlr-online-posts-container {
  background-color: $color-background-hrlr-online;
}

.home .hrlr-posts-container, .home .hrlr-online-posts-container {
    grid-column-start: 1;
    grid-column-end: span 18;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-column-gap: 15px;

    h2 {
      border-bottom: 1px solid $color-text;
      grid-column: 2 / span 16;
    }

    .homepage-entry-content {
      grid-column: 8 / span 10;
      border-bottom: 1px solid $color-text;
    }

    h3 {
      grid-column: 2 / span 6;
    }

    .button {
      grid-column: 8 / span 10;
    }


}
