.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.site-content {
  grid-column: 1 / 4;
}

.site-main, .entry-header, .entry-content, .entry-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

@media screen and (min-width: $breakpoint-width-mobile) {
  .body {
    grid-template-columns: repeat(24, 1fr);
    grid-column-gap: 15px;
  }

  .site-content, article, .entry-header, .entry-content, .entry-footer {
    grid-column: 1 / span 24;
  }

  .site-main, .entry-header, .entry-content, .entry-footer {
    grid-template-columns: repeat(24, 1fr);
    grid-column-gap: 15px;
  }
}
