.body {
  display: grid;
  grid-template-columns: $grid-mobile;
  grid-column-gap: $grid-mobile-gap;
  padding-left: 20px;
  padding-right: 20px;
}

.site-content, article {
  grid-column: $grid-mobile-span-full-width;
}

.site-main, .entry-header, .post-entry-content, .page .entry-content, .entry-footer {
  display: grid;
  grid-template-columns: $grid-mobile;
  grid-column-gap: $grid-mobile-gap;
}

@media screen and (min-width: $breakpoint-width-mobile) {
  .body {
    grid-template-columns: $grid-desktop;
    grid-column-gap: $grid-desktop-gap;
    padding-left: 0;
    padding-right: 0;
  }

  .site-content, article, .entry-header, .post-entry-content, .page .entry-content, .entry-footer {
    grid-column: $grid-desktop-span-full-width;
  }

  .site-main, .entry-header, .post-entry-content, .page .entry-content,.entry-footer {
    grid-template-columns: $grid-desktop;
    grid-column-gap: $grid-desktop-gap;
  }
}
