.single-news, .post-type-archive-news {
  .entry-title {
    @include hrlr-online-headline-small;
    grid-column: 1 / span 4;
  }

  .entry-content {
    margin-bottom: 4em;
  }

  .entry-content > *, .news-date {
    @include secondary-text;
    grid-column: 1 / span 4;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: .5em;
  }

  .post-navigation {
    display: none;
  }
}

.news-navigation {
  margin-top: 30px;
  grid-column: 1 / span 4;
}

@media screen and (min-width: $breakpoint-width-mobile) {
  .single-news, .post-type-archive-news {
    .site-content {
      grid-column: 2 / span 22;
    }
    .entry-title {
      grid-column: 13 / span 11;
    }

    .entry-content > *, .news-date {
      grid-column: 13  / span 11;
    }
  }

  .post-type-archive-news {
    .site-content {
      grid-column: 13 / span 11;
    }
  }

  .news-navigation {
    grid-column: 13 / span 4;
    margin-top: 30px;
  }

  h1:first-child{
    margin-top: 30px;
  }
}
