.page {
  .entry-title {
    grid-column: 1 / span 4;
  }

  .entry-content > * {
    grid-column: 1 / span 4;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  .entry-content a:first-child:last-child {
    @include button;
    background-color: $color-background-hrlr;

    &::after {
      @include button-forwards;
    }
  }
}

@media screen and (min-width: $breakpoint-width-mobile) {
  .page {
    .entry-title {
      grid-column: 12 / span 11;
    }

    .entry-content > * {
      grid-column: 12 / span 11;
    }
  }
}
