.site-title img {
    max-width: 220px;
}

#masthead {
  grid-column: 1 / 4;
  margin-top: 20px;
}

@media screen and (min-width: $breakpoint-width-mobile) {
  .site-title img {
      max-width: 300px;
  }

  #masthead {
    grid-column: 2 / 10;
    margin-top: 30px;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
