.site-title {
    max-width: 200px;
}

#masthead {
  grid-column: 1 / 4;
}

@media screen and (min-width: $breakpoint-width-mobile) {
  .site-title {
      max-width: 300px;
  }

  #masthead {
    grid-column: 2 / 10;
  }
}
