.site-title {
    color: $color-text;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.1px;
    line-height: 0.8;
    max-width: 300px;
    text-decoration: none;
    text-transform: uppercase;
}

#masthead {
  grid-column-start: 2;
  grid-column-end: 10;
}
