$main-navigation-height: 550px;

.main-navigation {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: fixed;
    z-index: 10; // to be above footnotes

    a {
        color: $color-text;
        text-decoration: none;
    }

    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 36px;
        margin: 10px;
        text-align: center;
        width: 100%;

        &:before {
            content: '☰';
        }

        &:hover {
            background-color: $color-nav-highlight;
        }
    }

    #main-navigation-menu {
        display: none;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 10px;

        > :last-child {
            font-size: 24px;
        }
    }
    
    .hrlr-menu {
        display: flex;
        flex-direction: column;
        font-size: 28px;
        margin: 0;
        padding: 0;

        sup {
            font-size: 50%;
            top: -0.8em;
        }

        .hrlr-menu-item {
            display: block;

            > a {
                display: block;
                padding: 7px;
                padding-left: calc(7px + 1em);
                text-indent: -1em;
            }

            &:hover {
                background-color: $color-nav-highlight;
            }
        }

        .hrlr-menu-item-secondary {
            display: block;
            font-size: 16px;
            padding: 7px;

            > a:hover {
                background-color: $color-nav-highlight;
            }
        }

        .hrlr-menu-footnote {
            font-size: 16px;
            margin-top: 10px;
        }

        & + .hrlr-menu {
            margin-top: 20px;
        }
    }

    &.toggled {
        background: white;
        height: 100vh;
        max-width: 90%;
        overflow-y: auto;
        width: $main-navigation-width;

        .menu-toggle {
            width: 42px;

            &:before {
                content: '✕';
            }
        }

        #main-navigation-menu {
            display: flex;
        }
    }
}

@media screen and (min-width: $breakpoint-width-mobile) {
    .main-navigation,
    .main-navigation.toggled {
        background: white;
        flex: 1 0 $main-navigation-width;
        height: $main-navigation-height;
        position: relative;
        max-width: $main-navigation-width;

        .menu-toggle {
            display: none;
        }
    
        #main-navigation-menu {
            display: flex;
        }
    }


    #main-navigation-menu .hrlr-menu {
        display: flex;
        flex-direction: column;


        .hrlr-menu-footnote {
            display: none;
            margin-top: 20px;
        }

        // TODO: do this with CSS variables if we don't need to support IE
        .hrlr-menu-item:nth-of-type(1):hover ~ .hrlr-menu-footnote-1 {
            display: block;
        }
        .hrlr-menu-item:nth-of-type(2):hover ~ .hrlr-menu-footnote-2 {
            display: block;
        }
        .hrlr-menu-item:nth-of-type(3):hover ~ .hrlr-menu-footnote-3 {
            display: block;
        }
        .hrlr-menu-item:nth-of-type(4):hover ~ .hrlr-menu-footnote-4 {
            display: block;
        }
    }
}
